<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Games</title>
    <link type="text/css" rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <h1 class="title">Card Game API</h1>
    <img src="./public/assets/image-removebg-preview (2).png">
    
    
    <ul>
        <h1>War</h1>
        <li><a href="/war/start">Play War</a></li>
        <!-- Add other game links here -->
    </ul>
</body>
</html>