<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Games</title>
    <link type="text/css" rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <header>
        <img class="headerImg-1" src="/public/assets/image.png" alt="cards" width="100px" height="100px">
        <h1 class="title">Card Game API</h1>
        <img class="headerImg-2" src="/public/assets/image.png" alt="cards" width="100px" height="100px">
    </header>
    <!-- <img src="./public/assets/image-removebg-preview (2).png" class="title-image"> -->
    <main>
        <div class="leftContent">
            <h1>War</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam maiores, iste ipsam libero perferendis tempore dicta eveniet sequi quo! Nihil, ipsum. Quis deserunt culpa numquam ullam quaerat quam debitis ratione!</p>
            <button><a href="/views/war.ejs">Play War</a></button>
        </div>
        <div class="rightContent">
            <h1>Blackjack</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea quasi est eos minus, aliquid tempora. Error blanditiis iure maxime quo magni quam quibusdam! Repellat inventore magni atque, cum illo quas?</p>
            <button><a href="/views/blackjack.ejs">Play Blackjack</a></button>
        </div>
    </main>
    <footer></footer>
</body>
</html>