<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Games</title>
    <link type="text/css" rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <header>
        <img id="dice" class="headerImg-1" src="/public/assets/image.png" alt="cards">
        <h1 class="title">Card Game API</h1>
        <img id="dice" class="headerImg-2" src="/public/assets/image.png" alt="cards">
    </header>
    <!-- <img src="./public/assets/image-removebg-preview (2).png" class="title-image"> -->
    <main>
        <div class="leftContent">
            <h1>War</h1>
            <p>War is a simple and fast-paced card game typically played with a standard deck of 52 cards. It involves two players who each draw a card from their respective decks and reveal them simultaneously. The player with the higher card wins the round and takes both cards, placing them at the bottom of their stack. If the cards are of equal value, a "war" occurs: both players place three cards face down and reveal a fourth card; the higher card wins all the cards on the table. The game continues until one player has all the cards or until both players decide to stop. With its straightforward rules and reliance on luck, War is often enjoyed by players of all ages, making it a popular choice for family gatherings and casual play.</p>
            <a href="/war/start"><button>Play War</button></a>
        </div>
        <div class="rightContent">
            <h1>Blackjack</h1>
            <p>Blackjack, also known as 21, is a popular card game played between one or more players and a dealer. The objective is to beat the dealer by having a hand value closer to 21 without exceeding it. Each player is dealt two cards, and they can choose to "hit" (take an additional card) or "stand" (keep their current hand). Numbered cards are worth their face value, face cards (kings, queens, and jacks) are worth 10, and aces can be worth either 1 or 11, depending on what benefits the hand most. If a player's hand exceeds 21, they "bust" and lose automatically. Players can also place bets on whether the dealer will bust or not, adding an extra layer of strategy to the game. With its mix of chance and skill, blackjack remains a favorite in casinos around the world.</p>
            <a href="/blackjack/start"><button>Play Blackjack</button></a>
        </div>
    </main>
    <footer class="footer">
        <!-- <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
        </div>
        </ul>
        <p>&copy;2024 | All Rights Reserved</p> -->
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>