<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Games</title>
    <link type="text/css" rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <header>
        <img id="dice" class="headerImg-1" src="/public/assets/image.png" alt="cards">
        <h1 class="title">Card Game API</h1>
        <img id="dice" class="headerImg-2" src="/public/assets/image.png" alt="cards">
    </header>
    <!-- <img src="./public/assets/image-removebg-preview (2).png" class="title-image"> -->
    <main>
        <div class="leftContent">
            <h1>War</h1>
            <p>War is a simple card game for two players using a standard 52-card deck. Each player draws a card, and the higher card wins the round. If the cards are equal, a "war" occurs, where players reveal more cards to determine the winner. The game continues until one player has all the cards or they choose to stop.</p>
            <a href="/war/start">Play War</a>
        </div>
        div.container>div.Btn
        <div class="rightContent">
            <h1>Blackjack</h1>
            <p>Blackjack, or 21, is a card game played between players and a dealer. The goal is to get a hand value closer to 21 without going over. Players start with two cards and can choose to "hit" for more cards or "stand" with their current hand. Numbered cards are worth their value, face cards are worth 10, and aces can be 1 or 11. If a player's hand exceeds 21, they "bust" and lose. The game combines luck and skill, making it a favorite in casinos worldwide.</p>
            <a href="/blackjack/start">Play Blackjack</a>
        </div>
    </main>
    <footer></footer>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>