*{
    box-sizing: border-box;
}

/* fonts */
@font-face {
    font-family: casino;
    src: url(./fonts/Casino.ttf);
}
@font-face {
    font-family: bjFont;
    src: url(./fonts/Poppins-Regular.ttf);
}
/* CSS HSL */
:root {
    --burnt-sienna: #D87152ff;
    --redwood: #B45D4Cff;
    --jet: #393431ff;
    --pearl: #F1E6C8ff;
    --dun: #DBC6B1ff;
    --yt: #ffffff;
}
/* general styling to body */
body{
    height: 100vh;
    width: 100vw;
    padding:0;
    margin:0;
    background-color: var(--pearl);
    overflow-x: hidden;
}
/* header styling */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100px;
    background-color: var(--redwood);
    position: sticky;
    top: 0;
}
#dice{
    width:100px;
    height:100px;
}
.title{
    font-family: casino;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size:65px;
    text-shadow: -2px -2px 5px var(--yt);
    color:var(--redwood)
}

.title-image {
    position: absolute;
    bottom:0;
    width: 300px;
}
/* main content styling */
/* main{
    margin-top:3rem;
}
p{
    padding:20px;
}
.leftContent{
    float:left;
    margin-left: 3rem;
}
.rightContent{
    float:right;
    margin-right: 3rem;
}
.leftContent, .rightContent{
    background-color: var(--dun);
    width:25vw;
    border-radius: 15px;
    min-height:fit-content;
    height:60vh;
    text-align: center;
    color:var(--jet);
    font-family: bjFont;
    padding-bottom: 15px;
}
.leftContent h1, .rightContent h1{
    font-size:50px;
    font-family: casino;
}
.leftContent a, .rightContent a{
    display: inline-block;
    color:var(--pearl);
    text-decoration: none;
    font-size:30px;
    width:80%;
    background-color: var(--redwood);
    border-radius: 10px;
    height:5vh;
    text-align: center;
} */
/* footer styling */
footer{
    position: relative;
    width: 100%;
    background: var(--redwood);
    min-height: 40px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: 0;
}
/* cards */
main{
    position: absolute;
    width: 250px;
    height: 60vh;
    background: none;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
}
.thecard{
    position: relative;
    top: 0;
    left: 0;
    width: 20vw;
    height: 60vh;
    border-radius: 40px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}
.thecard:hover{
    transform: rotateY(180deg);
}
.thefront{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    backface-visibility: hidden;
    overflow: hidden;
    background: var(--dun);
    color: var(--jet);
}
.thefront img{
    width: 20vw;
    height: 60vh;
}
.theback{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    backface-visibility: hidden;
    overflow: hidden;
    background: var(--dun);
    color: var(--jet);
    text-align: center;
    transform: rotateY(180deg);
}
.thefront p, .theback p{
    font-family: 'bjfont';
    padding: 30px;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
}
a{
    font-family: 'bjfont';
    text-decoration: none;
    background-color: #fff;
    color: #333;
    padding: 3%;
    border-radius: 20px;
    font-weight: 400;
}
a:visited{
    color: #333;
}
.war-title{
    margin-top: -30%;
    font-family: 'casino';
    color: var(--jet);
    font-size: 400%;
}
/* media styling */
@media only screen and (max-width: 1350px) {
}